body {
    padding: 10px;
}

.form{
    width: 20%;
    margin-bottom: 10px;
}

#desc{
    width: 50%;
    height: 100px;
}
#but{
    margin-bottom: 10px;
}

#card{
    margin-right: 20px;
    margin-bottom: 10px;
    float: left;
}

